[submodule "mittaridatapumppu-endpoint"]
	path = mittaridatapumppu-endpoint
	url = https://github.com/City-of-Helsinki/mittaridatapumppu-endpoint.git
[submodule "mittaridatapumppu-parser"]
	path = mittaridatapumppu-parser
	url = https://github.com/City-of-Helsinki/mittaridatapumppu-parser.git
[submodule "mittaridatapumppu-persister"]
	path = mittaridatapumppu-persister
	url = https://github.com/City-of-Helsinki/mittaridatapumppu-persister.git
[submodule "fvhiot-python"]
	path = fvhiot-python
	url = https://github.com/ForumViriumHelsinki/FVHIoT-python.git
